<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary mb-4">
    <div class="container">
        <a class="navbar-brand text-primary fw-bold" href="/admin">
            <i class="fas fa-shield-alt me-2"></i> ADMIN PANEL
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="adminNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/admin"><i class="fas fa-tachometer-alt me-1"></i> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin_bills"><i class="fas fa-file-invoice me-1"></i> Orders</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="prodDrop" data-bs-toggle="dropdown">
                        <i class="fas fa-box me-1"></i> Products
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="/additems">Add New</a></li>
                        <li><a class="dropdown-item" href="/admin/manage-products">Manage/Update</a></li>
                        <li><a class="dropdown-item" href="/admin/delete-product">Delete</a></li>
                    </ul>
                </li>
                <li class="nav-item ms-lg-3">
                    <a class="btn btn-outline-danger btn-sm" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>